{% extends "base.html" %}
{% block extrahead %}
  <meta property="robots" content="noindex, nofollow" />
{% endblock %}
{% block meta %}
  {{ super() }}
  <!-- OpenGraph Meta Tags -->
  <meta property="og:site_name" content="{{ config.site_name }}">
  <meta property="og:title" content="{{ page.title | default(config.site_name) }}">
  <meta property="og:description" content="{{ config.site_description }}">
  <meta property="og:url" content="{{ page.canonical_url | default(config.site_url) }}">
  <meta property="og:image" content="https://raw.githubusercontent.com/RizwanMunawar/visionusecases/main/docs/assets/open-graph-img.png">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title | default(config.site_name) }}">
  <meta name="twitter:description" content="{{ config.site_description }}">
  <meta name="twitter:image" content="https://raw.githubusercontent.com/RizwanMunawar/visionusecases/main/docs/assets/open-graph-img.png">
{% endblock %}